//资源类型相关样式变量
$level1:20%;
$level2:10%;

$water-color: #1ba2f7;
$water-color-1: #1ba2f7;
$water-color-2: #1ba2f7;


$power-color: #f1c277;
$power-color-1: #f1c277;
$power-color-2: #C677F1;



//@each $ele in water,power{
//  @if($ele == water){
//    $level1:50%;
//  }
//  $water-color-1: lighten($water-color,$level1);
//  $water-color-2: lighten($water-color,$level2);
//}


